


body {
    color: #fff;
    
    background-color: #159957;
    background-image: linear-gradient(85deg, #155799, #159957);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
    font-size: 1.2rem;
    padding: 0.6rem 0.9rem;
    width: 120px;
    text-align: center;
    display: inline-block;
    margin: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    text-decoration: none;
}

.wrapper {
    text-align: center;
}


.project-name {
    font-size: 5rem;
    text-align: center;
}

.project-tagline {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
    text-align: center;
}

.login-title {
    margin: 50px;
    text-align: center;
}

.form-input {
    margin-left: 25%;
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-label {
    margin-left: 25%;
}

.top-menu {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}