<!doctype html>
<html>
    <head>
        <title>{{page_title}}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css')}}"> 
        <ul class="header">

        <li class="nav-bar"><a href="/login">Login</a></li>
        <li class="nav-bar"><a href="/register">Register</a></li>
        <li class="nav-bar"><a href="/">My Lists</a></li>
        <li class="nav-bar"><a href="/logout">Logout</a></li>

</ul>
    </head>
<body>
    {% block content %}
    
    {% endblock %}
</body>
</html>