<!doctype html>
<html>
    <head>
        <title>{{page_title}}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css')}}"> 
    </head>
<body>
    <ul class="header">
        <li class="nav-bar"><a href="/">Home</a></li>
        <li class="nav-bar"><a href="/login">Login</a></li>
        <li class="nav-bar"><a href="/register">Register</a></li>
        <li class="nav-bar"><a href="/lists">My Lists</a></li>
        <li class="nav-bar"><a href="/logout">Logout</a></li>
    </ul>
    {% if username %}
    <p style="text-align:right">logged in as: {{username}} </p>
    {% endif %}
    {% block content %}
    
    {% endblock %}
</body>
</html>