{% extends "base.html" %}

{% block content %}


        <h1 class="login-title">My To-Do Lists</h1>

        <ul>
        {% for list in lists %}

        <li class="list-title"><a href="/display?list_id={{list.id}}">{{list.title}}</a></li>
        <form method='POST' action='/delete-list' style='display:inline-block;'>
                
                <input type='hidden' name='list-id' value='{{list.id}}'></input>
                <input type='submit' value='Delete'/>
                </form>

        {% endfor %}
        

        <div class="wrapper">
                <a href="/title" class="btn" style="width: 150px">Create New List</a>
        </div>

{% endblock %}
