{% extends "base.html" %}

{% block content %}


        <h1 class="login-title">My To-Do Lists</h1>

        <ul>
        {% for list in lists %}
        <table>
        <th><li class="list-title"><a href="/display?list_id={{list.id}}">{{list.title}}</a></li></th>
        <th><form method='POST' action='/delete-list' >
                
                <th><input type='hidden' name='list-id' value='{{list.id}}'></input>
                <input style="position: absolute; right: 0; margin-right:200px;" type='submit' value='Delete'/>
                </form></th>
        </table>
        {% endfor %}
        

        <div class="wrapper">
                <a href="/title" class="btn" style="width: 150px">Create New List</a>
        </div>

{% endblock %}
