{% extends "base.html" %}

{% block content %}
        <h2 class="login-title">Login to Elimez</h2>

        <form action="/login" method="post">

                    <label for="username" class="form-label">Username</label>
                    <input name="username" type="text" class="form-input"><br>

                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-input"><br>

            <div class="wrapper">
                <input type="submit" value="Login" class="btn">
            </div>
        </form>

{% endblock %}
