{% extends "base.html" %}

{% block content %}

<h1 class="login-title">{{page_title}}</h1>
<form method='post' action="/add-task">
    <label for='task'>New Task:</label>
    <input type="text" name='task' />
    <input type="hidden" name='list-id' value="{{list_id}}">
    <input type="submit" value='Add Task' />
</form>

<hr />

{% if tasks|length == 0 %}
    <p>No tasks yet</p>
    {% else %}

    <ul>
        {% for task in tasks %}
        <li>
            {{task.item}}
            <form method="POST" action="/complete-task" style="display:inline-block;">
                <input type="hidden" name="task-id" value="{{task.id}}" />
                <input type="submit" value="{{task.completed}}" />
            </form>
            
        </li>
        {% endfor %}
    </ul>

{% endif %}

<hr />

<form method='post' action="/add-user">
    <label for='user'>Add User:</label>
    <input type="text" name='user' />
    <input type="hidden" name='list-id' value="{{list_id}}">
    <input type="submit" value='Add User' />
</form>

<h3>Users: </h3>
<ul>
    {% for admin in admins %}
    <li>{{ admin.username }}</li>
    {% endfor %}
</ul>

{% with messages = get_flashed_messages(with_categories=True) %}

{% for category,message in messages %}
    <p class="{{category}}" style="color:red">{{message}}</p>
{% endfor %}

{% endwith %}

{% endblock %}